* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Aleo', serif;
    background-color: #ECEFF2;
}

#wrapper {
    margin: 1rem;
    display: grid;


}
@media only screen and (max-width: 890px) {
    .imgfordesk {
        display: none;
    }
}

@media only screen and (min-width: 890px) {
    .first {
        grid-template-columns: 350px 1fr;

    }

    #guide {
        grid-area: 1/3;
        margin-right: 3rem;
    }


    header h1 {

        margin-left: 7rem;
    }

    nav ul {

        margin-right: 7rem;
    }

    .filter {
        display: inline-block
    }

    footer {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

    }

    footer section {
        margin-left: 7rem;
        margin-right: 7rem;
    }


    #wrapper {
        margin-left: 7rem;
        margin-right: 7rem;
    }
}
